doctype 5
html(lang="es")
 head
  title API-Arteria
 body
  h1#encabezado Welcome to SmartBuy-API!
  p.centrar Creating by
  ul
  li Wainer Rodriguez
  li Roque Chacón
  li Jonathan Ramirez
  li Wilmer Vargas
  li Josue Mora
